<nav class="grey darken-3">
  <div class="nav-wrapper container">
    <a href="/dashboard" class="brand-logo center">StoryBooks</a>
    <a
      href="#"
      data-target="mobile-demo"
      class="sidenav-trigger show-on-large"
    ><i class="fa fa-bars"></i></a>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/stories">Everyone Public Stories</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <footer>
        Made by
        <a
          href="http://twitter.com/aigbe_1"
          target="_blank"
          rel="noopener noreferrer"
        >Destiny Aigbe</a>
      </footer>
    </ul>
  </div>
</nav>